:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
    

}
body{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 300;
    color: var(--light);
}

.bg-dark {background-color: var(--dark) !important;}
.bg-dark-x {background-color: var(--dark-x); }

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.alert{
    display: block;
    padding: 12px 20px;
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb; 
}
