body{
    font-family: 'Ubuntu Condensed', sans-serif;}

h1{
    font-size: 75px;
    font-weight: 600;
    line-height: 80px;
}

p{
    font-size: 20px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover{
    text-decoration: none;
}

.BtnLogin ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.BtnLogin ul li {
   display: inline-block;
}
.BtnLogin ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 10px;
 }

 .log a{
    text-decoration: none;
 }

 .btn-outline-success{  
color:black;
border-style: none;
 }


.topmargin_xs{margin-top: 15px;}
.topmargin_sm{margin-top: 30px;}
.topmargin_lg{margin-top: 60px;}

.btn_CrearCuenta{
font-size: 14px;
padding:15px 26px ;
min-width: 160px;
border-radius: 2px;
display: inline-block;
}

.btn_light{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}

.navbar{
background-color:#ffffff;
box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
min-height: 100px;
}

.Cursosdropdown{
    color: #1a1a1a;
}
.Cursosdropdown:hover{
    color: #1a1a1a;
}

.botones-loguearse{
    color: #1a1a1a;
}

.logo{
    min-width: 160px;
    max-width: 180px;
}

.BtnLogin a p {
    color:black;
    
}

body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
 
.form-register{
    width: 95%;
    max-width: 80%;
    margin: auto;
    background: #702088bd;
    border-radius: 90px;
} 

.perfil-usuario .avatar-perfil{
    display: block;
    width: 19%;
    height: 20%;
    background-color: black;
   margin-top: 3%;
   margin-left: 20%;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid white;
    box-shadow:  0 0 12px 2px rgb(85, 85, 85);
}

.perfil-usuario .Datos-perfil{
    margin-top: -18%;
    margin-left: 40%;
    display: block;
    background-color: rgba(222, 124, 241, 0.473);
    width: calc(100% -230px - 8rem);
    color: black;
    text-shadow: 0 0 5 px rgb(73, 73, 73);
    padding-bottom: 1rem;
    border-radius: 80px;
}

.perfil-usuario .Titulo-usuario{

    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.perfil-usuario .lista-perfil{
    list-style: none;
    margin-left: -9%;
}
.perfil-usuario .lista-perfil li{
    display: inline-block;
    padding: 20px;
    margin: -15px;
    margin-top: -10%;
    margin-left: 2.5%;
}
.perfil-usuario .opciones-perfil{
    display: block;
    margin-left: 40%;
}

.perfil-usuario .opciones-perfil button{
    border: 0;
    padding: 0% 3%;
    border-radius: 8px;
    background-color: rgb(90, 90, 90);
    color: white;
    cursor: pointer;
    font-family: 'Itim', cursive;

}

.perfil-usuario .Menu-perfil ul{
    font-family: 'Itim', cursive;
font-size: 20px;
    color: black;
display: flex;
list-style: none;
margin-top: 10%;
    margin-left: 40%;
}

.perfil-usuario .Menu-perfil ul li{
    margin-right: 1.5rem;
}

.perfil-usuario .Menu-perfil a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition:  all ease-in 100ms;
}

.perfil-usuario .Menu-perfil a:hover{
    background-color: #DFCB2B;
    color: black;
}


select.combo{
    /* padding: 9px 10px 10px 10px;
    width: 15%; */
    /* margin-top: 1rem; */
    margin-left: 50px;
    left: 64%;
    background-color: rgb(233, 173, 235);
    border-radius: 25px;
    border: 3px solid #6c5a6e;
    font-size: 13px;

}

.lista-perfil .Nombre-usuario{
    margin-left: 35px;
    width: 30%;
    background: #e1d8e7be;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    border: 3px solid #ffffff;  
}

.lista-perfil input{
    background: #e1d8e7be;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    border: 3px solid #af80cf;  
}




body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.contenedor_recuadros{
    width: 100%;
    height: 60vh;
    background-color: #bd45db50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja_cursos{
    width: 350px;
    height: 410px;
    background-color:#999999;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(73, 25, 82, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.img_curso_cuadro{
height: 350px;
max-height: 100%;
max-width: 100%;
}

.detalles_curso{
display: flex;
flex-direction: column;
align-items: center;
width:  300px;
}

.detalles_curso p{
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 1px;
}

.detalles_curso h2{
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
}


.caja_cursos:hover{
    background-color: #1a1a1a;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}


.alert{
    width: 130px;   
    padding: 1px 0px 0px 5px;
    /* max-height: 5px;
    max-width: 190px; */
    background: #f8d7da;
    color: #721c24;
    margin-bottom: 2px;
    margin-left: 90px;
    border: 5px solid #f5c6cb; 
    font-size: 10px;
}



@media screen and (max-width: 1036px){

    
    .caja_cursos{

        height: 380px;
        margin-top: 50px;
    }

}


@media screen and (max-width: 994px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{

        height: 380px;
        margin-top: 50px;
    }

}
  

@media screen and (max-width: 903px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{

        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 15px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 23%;
        margin-left: 10%;
    }

}


@media screen and (max-width: 844px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 23%;
        margin-left: 10%;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 20%;
        font-size: 10px;
    }

    .Datos-perfil #NombreUsuario{
        width: 60%;
        margin-left: 0%;
    }
    

}
  



@media screen and (max-width: 760px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 23%;
        margin-left: 10%;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 20%;
        font-size: 8px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 20%;
        font-size: 10px;
    }
    .Datos-perfil #ContraUsuario{
        width: 20%;
        font-size: 10px;
    }

    .Datos-perfil #NombreUsuario{
        width: 60%;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 20%;
        font-size: 10px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 20%;
        font-size: 10px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
    }

    

}
  


@media screen and (max-width: 646px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 23%;
        margin-left: 10%;
        border: 0px;
        box-shadow:  0 0 0px 0px rgb(255, 255, 255);

    }

    
    .perfil-usuario .Titulo-usuario{
        font-size: 30px;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 20%;
        font-size: 8px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 20%;
        font-size: 10px;
    }
    .Datos-perfil #ContraUsuario{
        width: 20%;
        font-size: 10px;
    }

    .Datos-perfil #NombreUsuario{
        width: 60%;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 20%;
        font-size: 10px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 20%;
        font-size: 9px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
    }

    

}



@media screen and (max-width: 564px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 23%;
        margin-left: 10%;
        border: 0px;
        box-shadow:  0 0 0px 0px rgb(255, 255, 255);

    }

    
    .perfil-usuario .Titulo-usuario{
        font-size: 30px;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 20%;
        font-size: 7px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 18%;
        font-size: 8px;
    }
    .Datos-perfil #ContraUsuario{
        width: 18%;
        font-size: 8px;
    }

    .Datos-perfil #NombreUsuario{
        width: 60%;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 18%;
        font-size: 8px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 20%;
        font-size: 9px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
        font-size: 10px;
    }

    
    .perfil-usuario .opciones-perfil button{
        padding: 2px 5px;
    }

    .opciones-perfil button{
font-size: 10px;
    }
    

}



@media screen and (max-width: 442px){

    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 23%;
        margin-left: 10%;
        border: 0px;
        box-shadow:  0 0 0px 0px rgb(255, 255, 255);

    }

    
    .perfil-usuario .Titulo-usuario{
        font-size: 25px;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 40%;
        height: 10%;
        font-size: 7px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 20%;
        height: 10%;
        font-size: 8px;
    }
    .Datos-perfil #ContraUsuario{
        width: 25%;
        height: 10%;
        font-size: 7px;
    }

    .Datos-perfil #NombreUsuario{
        width: 50%;
        height: 10%;
        font-size: 8px;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 25%;
        height: 10%;
        font-size: 6px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 25%;
        font-size: 7px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
        font-size: 8px;
    }

    
    .perfil-usuario .opciones-perfil button{
        padding: 2px 5px;
    }

    .opciones-perfil button{
font-size: 10px;
    }
    

}



@media screen and (max-width: 382px){


    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        width: 335px;
        height: 380px;
        margin-top: 50px;
    }

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 20%;
        margin-left: 15%;
        box-shadow:  0 0 0px 0px rgb(255, 255, 255);
    }

    .perfil-usuario .Titulo-usuario{
        font-size: 23px;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 45%;
        height: 10%;
        font-size: 7px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 20%;
        height: 10%;
        font-size: 8px;
    }
    .Datos-perfil #ContraUsuario{
        width: 25%;
        height: 10%;
        font-size: 7px;
    }

    .Datos-perfil #NombreUsuario{
        width: 50%;
        height: 10%;
        font-size: 8px;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 30%;
        height: 10%;
        font-size: 6px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 28%;
        font-size: 7px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
        font-size: 8px;
    }

    
    .perfil-usuario .opciones-perfil button{
        padding: 2px 5px;
    }

    .opciones-perfil button{
font-size: 10px;
    }
    

}


@media screen and (max-width: 350px){


    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        width: 335px;
        height: 380px;
        margin-top: 50px;
    }


    .detalles_curso p{
        font-size: 13px;
    }
    
    .detalles_curso h2{
        font-size: 18px;
    }
   

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 20%;
        margin-left: 15%;
        box-shadow:  0 0 0px 0px rgb(255, 255, 255);
    }

    .perfil-usuario .Titulo-usuario{
        font-size: 20px;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 40%;
        height: 10%;
        font-size: 5px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 20%;
        height: 10%;
        font-size: 8px;
    }
    .Datos-perfil #ContraUsuario{
        width: 25%;
        height: 10%;
        font-size: 7px;
    }

    .Datos-perfil #NombreUsuario{
        width: 50%;
        height: 10%;
        font-size: 8px;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 30%;
        height: 10%;
        font-size: 6px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 35%;
        font-size: 7px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
        font-size: 8px;
    }

    
    .perfil-usuario .opciones-perfil button{
        padding: 2px 5px;
    }

    .opciones-perfil button{
font-size: 10px;
    }
    

}


@media screen and (max-width: 320px){


    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }

    .caja_cursos{
        width: 315px;
        height: 380px;
        margin-top: 50px;
    }


    .detalles_curso p{
        font-size: 13px;
    }
    
    .detalles_curso h2{
        font-size: 18px;
    }
   

    .Datos-perfil li{
       font-size: 12px;
    }

    
    .perfil-usuario .avatar-perfil{
        width: 20%;
        margin-left: 15%;
        box-shadow:  0 0 0px 0px rgb(255, 255, 255);
    }

    .perfil-usuario .Titulo-usuario{
        font-size: 18px;
    }

    .Datos-perfil #fecha_naciemiento{
        width: 40%;
        height: 10%;
        font-size: 5px;
    }

    .Datos-perfil #CorreoUsuario{
        width: 20%;
        height: 10%;
        font-size: 8px;
    }
    .Datos-perfil #ContraUsuario{
        width: 25%;
        height: 10%;
        font-size: 7px;
    }

    .Datos-perfil #NombreUsuario{
        width: 50%;
        height: 10%;
        font-size: 8px;
        margin-left: 0%;
    }

    .Datos-perfil #categ{
        width: 30%;
        height: 10%;
        font-size: 6px;
        margin-left: 0%;
    }
    .Datos-perfil #Est{
        width: 35%;
        font-size: 7px;
        margin-left: 0%;
    } 
    .perfil-usuario .lista-perfil li{
        margin-left: 0%;
        font-size: 8px;
    }

    
    .perfil-usuario .opciones-perfil button{
        padding: 2px 5px;
    }

    .opciones-perfil button{
font-size: 10px;
    }
    

}
   
/*
fecha_naciemiento
NombreUsuario
CorreoUsuario
ContraUsuario
categ
    .caja_cursos{
        height: 380px;
        margin-top: 50px;
    }

    .detalles_curso p{
        font-size: 13px;
    }
    
    .detalles_curso h2{
        font-size: 18px;
    }
   
    .perfil-usuario .Datos-perfil{
        padding: 1% 0%;
        margin-left: 35%;
    }

    .Datos-perfil #NombreUsuario{
        width: 70%;
        margin-left: 0%;
    }
*/




/*
@media screen and (max-width: 1192px){
    
    .lista-perfil input{
    width: 20%;
    font-size: 15px;
    
    }
    
    select.combo{
    margin-left: 5%;
    }

    .perfil-usuario .opciones-perfil button{
        padding: 2px 5px;
    }

    .perfil-usuario .avatar-perfil{
        width: 20%;
        margin-right: 100%;
        
    }

    .opciones-perfil button{
        font-size: 10px;
    }

    .lista-perfil li{
        font-size: 10px;
    }


}

*/
